body {
    background-color: #F5F5F5;
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .container {
    margin: 150px auto;
    width: 840px;
    padding: 20px;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: yellow;
  }
  
  .item {
    background-color: #fff;
    background: linear-gradient(to right, #26d0ce, #1a2980);
    width: 100px;
    height: 100px;
    margin: 1%;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 6em;
    color: white;
  }
  
  .big {
    width: 150px;
  }
  
  .controls {
    background-color: white;
    width: 300px;
    padding: 20px;
    line-height: 150%;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid #ddd;
  }